<button (click)="login()">login</button>
<!--<button (click)="getMyInfo()">myInfo </button>-->
<!--<button (click)="loginOn()">login me</button>-->
<button (click)="getUserInfo()">get user info</button>
<div *ngIf="user">
    <p>{{this.user.country}}</p>
    <p>{{this.user.email}}</p>
    <p>{{this.user.display_name}}</p>
</div>